@charset "utf-8";
/* CSS Document */

html {
  font-size: 62.5%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  max-width: 1920px;
}

/* h2 */
.text_title {
  font-size: 3.2rem;
  color: #1361b4;
}

/* 本文 */
.text {
  font-size: 1.6rem;
}

.main,
.mainvisual,
.tsuyomi,
.jirei,
.info,
.footer {
  width: 100%;
}

.sp{
  display: none;
}

@media screen and (max-width: 767px){

  html {
  font-size: 50%;
}

.pc{
  display: none;
}

}

/* ヘッダー */

.header{
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header_wrapper {
  background-color: #fff;
}

.header_container {
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-size: 3.2rem;
  display: inline-block;
  /* align-items: center; */
  margin-left: 5rem;
}

.header_logo a{
  color: black;
}

.header_nav{
  align-items: center;
}

.header_navList {
  font-size: 1.6rem;
  gap: 5rem;
  width: max-content;
  padding: 0 16px;
  align-items: center;
}

.header_navItem a{
  width: 100%;
  color: black;
}

/* .header_navItem:last-child {
  background-color: red;
  width: 100%;
} */

/* .header_cta a::before{
        content: "";
    display: inline-block;
    width: 38px;
    height: 24px;
    background: url(/assets/img/mail.png) no-repeat;
    background-size: contain;
    margin-right: 8px;
    vertical-align: middle;
} */

.header_cta{
  padding: 2rem 3rem;
  background-color: #1361b4;
}

.header_cta img{
  display: block;
  /* width: 50px; */
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.header_cta a{
  color: #fff;
}


/* @media screen and (max-width: 767px){
.header{
  display: none;
}
} */

/* media */
@media screen and (max-width: 767px){
.pc{
  display: none;
}

.header{
  z-index: 999;
}

.header_logo{
  /* font-size: 50rem; */
}
/* ハンバーガー */
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(110, 110, 110);
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
  
}

/* ハンバーガー */
}


/* メインビジュアル */

.mainvisual_image {
  max-width: 100%;
}

.mainvisual {
  max-width: 100%;
  position: relative;
}

.mainvisual_text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1361b4;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 4rem 4rem;
  opacity: 0.95;
  width: max-content;
}

.mainvisual_textItem {
  color: #fff;
  text-align: center;
  font-size: 5rem;
}

/* 強み */
.tsuyomi,
.saiyou {
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.tsuyomi_wrapper,
.saiyou_wrapper {
  gap: 6rem;
}

.tsuyomi_image,
.saiyou_image {
  width: 76rem;
  margin-left: 13rem;
  /* margin-left: 30rem; */
}

.tsuyomi_text_wrapper,
.saiyou_text_wrapper {
  width: 60rem;
  width: 31%;
}

.tsuyomi_text_title,
.saiyou_text_title {
  margin-top: -0.9rem;
}

.tsuyomi_text,
.saiyou_text {
  margin-top: 2rem;
}

.tsuyomi_cta_wrapper,
.saiyou_cta_wrapper {
  margin-top: 5rem;
}

.tsuyomi_cta,
.saiyou_cta,
.info_cta {
  display: inline;
  width: 100%;
  height: auto;
}

.tsuyomi_cta a,
.saiyou_cta a,
.info_cta a {
  font-size: 1.6rem;
  padding: 1rem 4rem;
  border: solid 1px #1361b4;
  color: #1361b4;
}

@media screen and (max-width: 767px){
.tsuyomi,
.saiyou {
  width: 95%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mainvisual_textItem {
  font-size: 2rem;

}



.tsuyomi_wrapper{
  flex-direction: column;
}

.tsuyomi_text_wrapper,
.saiyou_text_wrapper {
  margin: 0 auto;
  width: 100%;
}

.tsuyomi_image,
.saiyou_image{
  margin-left: 0;
  width: 100%;
}

}

/* 事例 */
.jirei {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f8fbfe;
}

.jirei_wrapper {
  display: inline;
  text-align: center;
}

.jirei_text {
  margin: 0 auto;
  width: 50rem;
  /* border: solid 1px black; */
  margin-top: 2rem;
}

.jirei_card_wrapper {
  width: 50%;
  margin: 0 auto;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 100px 100px; */
  gap: 3rem;
  margin-top: 2rem;
}

.jirei_card {
  /* width: 50rem; */
  height: auto;
  margin: 0 auto;
}

.jirei_card_image {
  width: 100%;
}

.jirei_card_image img {
  vertical-align: bottom;
}

.jirei_card_text {
  width: 100%;
  background-color: #1361b4;
  padding: 1rem;
  color: #fff;
}

@media screen and (max-width: 767px){
  .jirei_card_wrapper{
    flex-direction: column;
  }
}

/* 設備情報・会社概要 */
.info {
  /* margin-bottom: 70rem; */
}
.info_Item {
  position: relative;
  width: 50%;
}

.info_Item{
      background-color:#1361b4;
    display:inline-block;
}

.info_Item img{
    opacity: 0.5;
    display:block;
}

.info_image {
  /* width: 50%; */
}

.info_text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* background-color: aqua; */

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.info_title{
  color:#fff;
  text-align: center;
}

.info_cta a{
  border: solid 1px #fff;
  color: #fff;
}

/* 採用 */
.saiyou_wrapper {
  flex-direction: row-reverse;
  margin-right: 8%;
}

.saiyou_image{
  margin-left: 0;
}

@media screen and (max-width: 767px){
  .saiyou_wrapper{
    flex-direction: column;
  }
}

/* フッター */

.footer {
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  background-color: #e1e5ea;
  color: #1361b4;
}

.footer_bigwrapper {
  width: 60%;
  margin: 0 auto;
}

.footer_wrapper {
  justify-content: center;
  justify-content: space-between;
  gap: ;
}

.footer_container{
  width: 50rem;
  border-top: solid 1px #1361b4;
  padding-top: 1rem;
}

.footer_title{
  /* border-bottom: solid 1px #1361b4; */
}

.footer_map{
  gap: 2rem;
}

.footer_wrapper_number{
  justify-content: space-between;
  margin-top: 1rem;
}

.footer_containe r_number::before{
    content: "";
    display: block;
    width: 38px;
    height: 24px;
    background: url(/assets/img/mail.png) no-repeat;
    background-size: contain;
    margin-right: 8px;
    vertical-align: middle;
}

.footer_number{
  border-bottom: solid 1px #1361b4;
  width: 17rem;
}

.footer_time_text{
  font-size: 1rem;
}

.footer_cta{
  margin-top: 0.8rem;
}

.footer_cta a{
  display: inline;
  width: 100%;
  height: auto;
  background-color: #1361b4;
  color: #fff;
  padding: 1.5rem 6rem;

}

.footer_nav {
}

.footer_navList {
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 100px 100px; */
  gap: 3rem;
}

.footer_navItem {
}

.footer_navItem a {
  padding: 1rem 4rem;
  background-color:#ced9e5;
  color: #1361b4;
}

.footer_copyright_wrapper {
  margin-top: 7rem;
  justify-content: space-between;
}

.footer_policy{
  gap: 2rem;
}

.footer_policy a{
  color: #1361b4;
}




/* ガイド線 */
* {
    /* outline: 1px solid magenta; */
}
